*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
	font-family: Centra;
	src: url('./components/assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./components/assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./components/assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

body{
    overflow-x: hidden;
    color: #fff;
    background-color: #121212 !important;
    position: relative;
    font-family: 'Centra', sans-serif;
}

html{
	scroll-behavior: smooth;
}

@media (max-width: 730px){
	body{
		overflow-x: hidden;
		/* position: static; */
	}
}
